.blog-initProject {
    .babel-section, .webpack-config, .npm-modules, .babel-webpack, .source-map-webpack, .webpack-dev-server, .webpack-scss, .react-router, .not-found-pages, .linking-routes, .organize-routes, .production-webpack, .webpack-express, .seperate-scss, .deploying-heroku {
        .markdown-title {
            color: #eee;
            font-size: 1rem;
            &:before {
                color: #2bbc8a;
                content: "#";
                font-weight: bold;
                font-size: 1.2rem;
                padding-right: 7px;
            }
        }
        .markdown-sect {
            border: 1px dotted #666;
            // background-color: #474949;
            width: 75%;
        }
    }
}