.sectionOne, .sectionTwo, .sectionThree, .sectionFour, .sectionFive, .sectionSix, .sectionSeven {
    .highlight {
        margin: 1rem 0;
        padding: 10px 15px;
        border-radius: 4px;
        background: #212326;

        .title {
            color: #666;
            font-size: 0.9em;
        }

        .file {
            float: right;
            color: #666;
            font-style: italic;
            font-size: 0.8em;

            &:hover {
                background-image: linear-gradient(transparent, transparent 10px, #d480aa 10px, #d480aa);
                background-position: bottom;
                background-size: 100% 6px;
                background-repeat: repeat-x;
            }
        }

        .code {
            font-size: 13px;
        }
    }
}