.blog-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #c9cacc;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  .left {
    color: #666;
    font-size: 11px;
    margin: 0 1.5rem;
  }
  .right {
  }
}
