$color-background: #1d1f21;
$color-text: #c9cacc;
$color-categories-title: #2bbc8a;

$font-size-small: 10px;
$font-size-small-b: 12px;
$font-size-medium: 14px;
$font-size-medium-b: 16px;
$font-size-large: 18px;
$font-size-large-b: 22px;